body{
	font-family: 'Quicksand', sans-serif;
	background: url(../images/asanoha.png);
}

/*Background colors*/
.bg-white{
	background: #fff;
}
.bg-grey{
	background: grey;
}
/*end of background colors*/

/*Text Colors*/
.text-header{
	color: #fff !important;
	background: #4aaaa5 !important;
	font-family: 'Work Sans', sans-serif;
}
.text-teal{
	color: #4aaaa5;
	font-family: 'Work Sans', sans-serif;
}
/*end of text colors*/

/*Padding Options*/
.down-padding{
	padding-bottom: 30px;
}
.top-bottom-padding{
	padding: 15px 0px;
}
.panel-padding{
	padding: 0px 20px 15px 20px;
}
/*end of Padding options*/

/*Connect with me aside related*/
.icon{
	width: 45px;
	height: 45px;
}
/*end of connect with me*/

/*Portfolio section related*/
.port{
	width: 250px;
	height: 200px;
	margin: 5px;
	display: inline-block;
}
.img1{
	background: url(../images/img1.jpg);
}
.img2{
	background: url(../images/img2.jpg);
}
.img3{
	background: url(../images/img3.jpg);
}
.img4{
	background: url(../images/img4.jpg);
}
.img5{
	background: url(../images/img5.jpg);
}
.img6{
	background: url(../images/img6.jpg);
}
.btn-teal{
	width: 250px;
	margin-top: 150px;
	background: #4aaaa5;
	border: 1px solid #4aaaa5;
	color: #fff;
}
/*end of Portfolio section*/

/*Navbar related*/
.navbar-brand:hover{
	color: #fff !important;
	background: #4aaaa5 !important;
}
/*end of navbar*/

/*Footer related*/
.teal-border{
	border-top: 3px solid teal;
}
/*end of footer*/

/*font sizes*/
.font-size-regular{
	font-size: 17px; 
}
/*end of font sizes*/



